form {
  display: flex;
  flex-direction: column;
  padding: 50px;

  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(239, 242, 246, 45);
}
input[type="text"], textarea, select {
  padding: 10px 30px;
  margin: 10px;
}

textarea {
  min-height: 100px;
}

button[type="submit"] {
  margin: 10px;
  background-color: aquamarine;
  cursor: pointer;
  border: 1px solid blanchedalmond;
}
